<div>
  <p>Product Custom Element</p>
</div>

{% schema %}
  {
    "name": "Product Custom Element",
    "settings": [],
    "presets": [
      {
        "name": "Product Custom Element"
      }
    ]
  }
{% endschema %}
